{% extends 'entrants/base.html' %}
{% block content %}
    <div class="rt">
        <h2 style="text-align: center; color: #008a5e;"><span style="border-bottom: 4px solid #008a5e;">Для регистрации на РТ необходимо:</span></h2>
<ol>
<li>Зайти на сайт <a href="https://reg.rikc.by/">РИКЗ</a> (<a href="https://reg.rikc.by/">reg.rikc.by</a>) и зарегистрироваться, указав серию и номер документа, удостоверяющего личность, и пароль для доступа к данной системе. Заполнить краткую анкету участника РТ.</li>
<li>Записаться в системе регистрации, для этого выбрать<br /><br />
<ul style="margin-top: 0px; margin-bottom: 0px;">
<li>Предмет</li>
<li>Язык представления теста</li>
<li>Область</li>
<li>Пункт тестирования (<span>Белорусский национальный технический университет</span>)</li>
<li>Выбрать дату и время участия в РТ.</li>
</ul>
</li>
<li>Оплатить тестирование через ЕРИП (ЕРИП -&gt; Образование и развитие -&gt; РИКЗ -&gt; РТ, on-line регистрация)</li>
<li>Распечатать из системы регистрации РТ пропуск(-а) на каждый сеанс тестирования. В случае отсутствия объективной возможности распечатать пропуск, необходимо записать и взять с собой на тестирование <strong>номер регистрации</strong>, указанный на пропуске.</li>
<li>В день проведения тестирования явиться в пункт тестирования, имея при себе:<br /><br />
<ul style="margin-top: 0px;margin-bottom: 0px;">
<li><strong>документ, удостоверяющий личность</strong> (паспорт, вид на жительство,<br />удостоверение беженца),</li>
<li>распечатанный <strong>пропуск</strong>,</li>
<li><strong>гелевую ручку</strong> (капиллярную) с чернилами черного цвета,</li>
<li>калькулятор (при прохождении тестирования по физике и химии).</li>
</ul>
</li>
</ol>
<h2 style="text-align: center;;"><a style="color: #008a5e;" href="http://iifoimo.bntu.by/sites/iifoimo.bntu.by/files/instr.pdf">Подробная инструкция</a></h2>
    </div>
{% endblock content %}